@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* general css */

body, ul, h1, h2, h3, p, button, a, div{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}

body{
  background: rgb(0, 6, 123);
  background: radial-gradient(circle, rgb(0, 35, 123) 0%, rgb(20, 21, 86) 100%);
  overflow: hidden;
}

.container {
  max-width: 350px;
  margin: 100px auto 40px;
}
.container h3{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  font-weight: 900;
}
.container li{
  padding: 10px;
  cursor: pointer;
}
.home.container, 
.order.container{
  text-align: center;
  max-width: 800px;
}
button{
  color: white;
  padding: 10px 30px;
  font-size: 1em;
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
}
/* lists */
li span.active{
  font-weight: bold;
}
li span.active::before{
  content: "✅";
  position: relative;
  margin-right: 6px;
  display: inline-block;
}
